<div class="container py-5">
    <div class="row">
        <div class="col-3">
            <img src="assets/img/venusaur.png" alt="imagen dinámica" class="img-fluid w-100">
            <div class="d-grid gap-2">
                <a [routerLink]="['/Ivysaur']" class="btn btn-success my-5">
                    Retroceder
                </a>
            </div>
        </div>
        <div class="col-9 d-flex align-items-center px-5">
            <h4><b>Venusaur</b> <br><br> Puede convertir la luz del sol en energía. Por esa razón, es más poderoso en verano.</h4>
        </div>
    </div>
</div>
